/* Title: Border Radius */
#radius {
    width: 200px;
    height: 200px;
    background-color: #DDD;
    margin: 20px auto; /* Auto == 0 auto */
    border: 2px solid rgba(138, 76, 76, 0.43);
    border-radius: 10px; /* 20px 30px 40px; */ /* Top Right Bottom Left */
/*  border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px; */
    border-bottom-right-radius: 30px;

/* Title: Vendor Prefixes */
    -webkit-border-top-right-radius: 70px;
    
/*  -moz-border-radius: 10px; For resolve The Not Supporting issue from the Browser
    -o-border-radius: 10px;  
    -ms-border-radius: 10px; */

/* Title: Box Shadow */
    box-shadow: -5px -5px 5px 5px #09B0DF,   /* Box-shadow: Horizontal Shadow | Vertical Shadow | Blur | Spread | Color | Inset, Outset(default) */
                5px 5px 5px 5px #AB1717,
                10px 10px 10px 5px #17B42E;

}

/* Title: Box Sizing */
* {
    box-sizing: border-box;
}
.sect {
    width: 1080px;
    margin: 300px auto;
    background: #DDD;
    overflow: hidden;
}
.left {
    float: left;
    background-color: #6619D3;
    width: 75%;
    color: white;
    padding: 10px;
}
.right {
    float: right;
    background-color: mediumspringgreen;
    width: 25%;
    color: white;    
}

/* Title: Practice */
img {
    border-radius: 50%;
    background-color: white;
    border: 2px solid #807878; 
}
img:hover {
    box-shadow:  10px 10px 10px #8E8B8B,
    -10px -10px 10px #8E8B8B;
}

/* Title: Text Shadow */
.text-shadow {
    text-shadow: 25px 25px 10px #CCC,  /* Text Shadow: Horizontal Shadow | Vertical Shadow | Blur-Radius | Color */
                 27px 27px 10px #45A452;
    font-size: 300px;
}

/* Title: Text Overflow */
.overflowz {
    width: 500px;
    font-size: 30px;
    background-color: gray;
    white-space: nowrap; /* Don't wrap the text according to the Box that it Contains it  */
    overflow: hidden;
    text-overflow: ellipsis;
}
.overflowz:hover {
    overflow: visible;
}

/* Title: Whitespace | word-wrap */
/* Whitespace Break the word only if there is a white space */
/* word-wrap break the word even there is no whitespace */
.nowrp {
    width: 500px;
    font-size: 30px;
    background-color: gray;
    /* white-space: nowrap; */
    word-wrap: normal;
}